:root {
  --primary-title-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
}

body {
  color: var(--secondary-text-color);
  link: var(--primary-title-color);
  font-family: Roboto, sans-serif;
  background-color: var(--secondary-accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* header start */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* header end */
/* hero start */
.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 65px;

  background: #2f303a;
}
.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}
.hero-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--secondary-accent-color);
}

/* hero end */
/* quality start*/
.quality-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.quality-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* qualiti end */

/* service start*/
.service-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
/* service end */
/* team start */
.team {
  /* position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px; */

  background: #f5f4fa;
}
.team-secondary-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* team end */
/* footer start */
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
.adress {
  width: 231px;
  height: 81px;
  left: 215px;
  top: 2208px;

  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
}
.logo-footer {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
}
.logo-footer span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.nav-footer .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.nav-footer .link:hover,
.nav-footer .link:focus {
  color: var(--secondary-accent-color);
}

/* Portfolio */

/* filters start */
.buttons .current {
  color: var(--secondary-accent-color);
  background: var(--accent-color);
}
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.button {
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-accent-color);
}
/* filters end */

/* work start */

.work-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-title-color);
}
.work-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* work end */
